/* Connect 4 FOTF Coding Exercise David Wygergangs (dwyger@live.com) submission */
html {
	box-sizing: border-box;
	font-size: 2.5vmin;
}
.hide { /* Use to disappear elements as needed */
	display: none;
}
.no-select { /* Prevent accidental highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
	margin: 0;
}
.slot.red-checker, .slot.yellow-checker {
	stroke: black;
	stroke-width: 1px;
}
.slot.red-checker {
	fill: red;
}
.slot.yellow-checker {
	fill: yellow;
}
#play-area {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}
#title {
	border: 2px solid yellow;
	background-color: black;
	flex: 1;
	text-align: center;
	color: white;
}
#title>h1 {
	font-size: 6vmin;
	margin: 1vmin 0;
}
#messages {
	border: 1px solid red;
	background-color: grey;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}
#message {
	margin: 1vmin;
}
#btn-1 {
	background-color: yellow;
}
#btn-1:hover {
	background-color: black;
	color: yellow;
}
#btn-2 {
	margin-left: 0.5vmin;
	background-color: red;
}
#btn-2:hover {
	background-color: black;
	color: red;
}
#messages>button {
	width: 8vmin;
	height: 4vmin;
	border-radius: 1vmin;
	border: none;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	font-size: 2vmin;
	font-weight: bold;
}
#board {
	display: flex;
	justify-content: center;
}
.column {
	background-color: blue; /* classic Connect 4 board */
	padding-top: 1vmin;
	padding-bottom: 1vmin;
	transition: background-color 0.5s;
}
.column:first-child {
	padding-left: 1vmin;
}
.column:last-child {
	padding-right: 1vmin;
}
.column:hover {
	background-color: cornflowerblue;
}
.column:active {
	background-color: black;
}
.stacks {
	width: 70px;
	height: 490px;
	padding: 0 10px;
}
.slot {
	fill: white;
}
#score {
	background-color: grey;
	border: red 1px solid;
	text-align: center;
	padding: 1vmin;
}
#score>label {
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	font-family: sans-serif;
}
#score>input {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 2.5vmin;
	color: black;
	width: 10vmin;
}
#r-score {
	background-color: rgba(255,0,0,0.5);
}
#y-score {
	background-color: rgba(255,255,0,0.5);
}
#red {
	color: red;
	font-weight: bold;
}
#yellow {
	color: yellow;
	font-weight: bold;
}
